<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
    
    <bean class="com.springcore.StudentInfo" name="student">
    
       <property name="studentId">
         <value>10001</value>
       </property>
       
       <property name="studentName">
         <value>shiv</value>
       </property>
       
       <property name="studentAddress">
         <value>Madana</value>
       </property>
       
       <property name="studentClass">
       <value>tenth</value>
       </property>
       
       <property name="studentSchoolName">
       <value>Govt.H.School Madana</value>
       </property>
    </bean>


</beans>